@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap');
.test{
     background-color: rgb(211, 67, 67); height: auto; font-family: 'Exo 2', sans-serif;  width: 90%; margin:0 auto; min-height: 120vh;

}

